* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('/IMAGENS/game-dungeons-and-dragons-hydra-tiamat-dungeons-and-dragons-wallpaper-preview.jpg');
    background-size: 102%;
    background-repeat: round;
    
}

.container{

    border: 2px solid white;
    margin: auto;
    width: 90%;
    height: 99%;
}

#ficha1{
    padding-top: 2rem;
    width: 100%;
    margin: auto;
    display: flex;
}


button:hover{
    background-color: #8b5606;
    transition: 10ms;
    font-family: system-ui;
}

button{
    width: 174px;
    padding: 8px 0px;
    margin: 5px;
    border: none;
    font-family: system-ui;
    border-radius: 10px;
    background-color: #aa6702;
    box-shadow: 0px 10px 20px -5px #000000;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    box-sizing: border-box;
    color: blanchedalmond;
}

.manuTop{
    display: flex;
    flex-direction: row;
    justify-content: end;
}


#teste{
    position: relative;
    top: 24px;
    width: 400px;
    right: -90px;
    height: 35px;
    border: none;
}
